{{>header}}

<!-- Page Top-->
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand fw-bold" href="#page-top">Hospédate</a>
            <!-- Mobile web dropdown-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Search bar-->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="mx-auto my-3 my-lg-0 main-search">
                    
                    <form action="/hotels" method="GET" class="input-group">
                        <!-- Magnifying glass image and icon-->
                        <span class="input-group-text bg-white border-end-0 search-icon-box">
                            <i class="bi bi-search text-muted"></i>
                        </span>
                        <!--Text box and search button-->
                        <input type="text" name="keyword" class="form-control border-start-0 ps-0 search-input"
                            placeholder="¿A dónde vas?" value="{{#keyword}}{{keyword}}{{/keyword}}">
                        <button class="btn btn-primary px-4" type="submit">Buscar</button>
                    </form>
                </div>
            <!-- Links to different sections or pages-->
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#services">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contáctanos</a></li>
                    <!-- If you are not logged in, "Iniciar Sesión" will appear.-->
                    {{^logged}}
                    <li class="nav-item"><a class="nav-link" href="/login">Iniciar Sesión</a></li>
                    {{/logged}}
                    <!-- If you are logged in, "Mi Perfil" will appear-->
                     {{#logged}}
                        {{^isAdmin}}
                        <li class="nav-item"><a class="nav-link" href="/profile">Mi Perfil</a></li>
                        {{/isAdmin}}
                        
                        {{#isAdmin}}
                        <li class="nav-item"><a class="nav-link text-warning fw-bold" href="/admin/hotels">
                            <i class="bi bi-gear-fill me-1"></i>Panel de Admin</a></li>
                        {{/isAdmin}}
                    {{/logged}}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <!-- Phrases from the homepage-->
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Disfruta de unas maravillosas vacaciones</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Elige entre nuestra amplia gama de hoteles para reservar</p>
                    <!-- Search bar link button-->
                    <a class="btn btn-primary btn-xl" href="#searchInput">Busca tu Hotel</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Te ofrecemos los mejores hoteles!</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">Descubre la opción que más se ajuste a tus gustos</p>
                    <!-- Hotel List link button-->
                    <a class="btn btn-light btn-xl" href="/hotels">Comienza!</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <!-- Services title-->
            <h2 class="text-center mt-0">A tu servicio</h2>
            <!-- Divider bar-->
            <hr class="divider" />
            <!-- GRID SYSTEM-->
            <div class="row gx-4 gx-lg-5">
                <!-- Icons and descriptions of services-->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Precios justos</h3>
                        <p class="text-muted mb-0">Siempre hacemos que nuestros clientes estén contentos con nuestros
                            precios.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Reserva aquí mismo</h3>
                        <p class="text-muted mb-0">Puedes consultar las fechas disponibles de cualquiera de nuestros
                            hoteles y reservar.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Tenemos hoteles por todo el país</h3>
                        <p class="text-muted mb-0">Puedes buscar el hotel que más se ajuste a la ubicación deseada.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Cuidamos de nuestros clientes</h3>
                        <p class="text-muted mb-0">Ponemos atención al detalle en nuetsros servicios para complacer al
                            máximo a nuestros clientes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio-->
    <div id="portfolio">
        <div class="container-fluid p-0">
            <!-- GRID SYSTEM-->
            <div class="row g-0">
                
                {{#hotels}}
                <!--Images and links to hotels-->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/hotel/{{id}}" title="{{name}}">
                        <img class="img-fluid portfolio-img-fixed" src="{{mainImage}}" alt="..." />  <!--src="assets/img/portfolio/hoteles/{{!--imageName--}}"-->
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">{{location}}</div>
                            <div class="project-name">{{name}}</div>
                        </div>
                    </a>
                </div>
                
                {{/hotels}}
                </div>
            </div>
        </div>
        
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <!-- Contact title-->
                        <h2 class="mt-0">Contáctanos</h2>
                        <!-- Divider bar-->
                        <hr class="divider" />
                        <p class="text-muted mb-5">Puedes contactar con nosotros usando el siguiente correo electrónico o número de teléfono</p>
                    </div>
                </div>
                <!-- Icon and email and phone information-->
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi bi-mailbox-flag fs-2 mb-3 text-muted"></i>
                        <div>asistencia@hospedate.com</div>
                    </div>
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>+34 111-333-999</div>
                    </div>
                </div>
            </div>
        </section>

{{>footer}}
