{{>header}}

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Hospédate</a>
            <a class="btn btn-primary btn-sm ms-auto" href="/">Volver al inicio</a>
        </div>
    </nav>
<!-- Masthead with registration form -->
    <section class="masthead masthead-full">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center">
                <div class="col-lg-5 col-md-8 text-center">
                    <div class="card shadow-lg border-0 rounded-lg">
                        <div class="card-body p-5">
                            <h2 class="text-center font-weight-light text-dark">Crear cuenta</h2>
                            <p class="text-muted mb-5">Ingrese sus credenciales</p>
                            <!-- Register form -->
                            <form action="/register" method="POST">
                                <input type="hidden" name="_csrf" value="{{token}}">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputEmail" name="email" type="email" placeholder="nombre@ejemplo.com" required />
                                    <label for="inputEmail" class="opacity-50">Correo Electrónico</label>
                                </div>
                                <!-- Username -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputUsername" name="username" type="text" placeholder="Usuario" required />
                                    <label for="inputUsername" class="opacity-50">Nombre de Usuario</label>
                                </div>
                                <!-- Password -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputPassword" name="password" type="password" placeholder="Contraseña" required />
                                    <label for="inputPassword" class="opacity-50">Contraseña</label>
                                </div>
                                <!-- Confirm Password -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputConfirmPassword" name="confirmPassword" type="password" placeholder="Confirmar contraseña" required />
                                    <label for="inputConfirmPassword" class="opacity-50">Confirmar contraseña</label>
                                </div>
                                <!-- Submit button -->
                                <div class="d-grid gap-2 mt-4 mb-0">
                                    <button class="btn btn-primary btn-xl" type="submit">Crear cuenta</button>
                                </div>
                                
                            </form>
                        </div>
                        <!-- Footer with link to login -->
                        <div class="card-footer text-center py-3 bg-light border-0 rounded-bottom">
                            <a href="/login" class="text-decoration-none">¿Tienes ya cuenta? Inicia sesión </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  {{>footer}}